<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>L'oreal Mensageria (SERVIÇO DE CARTÓRIO)</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loginb.css') }}" />
  </head>
  <body>
    <h1>MENSAGERIA MATERIAIS PROMOCIONAIS - ENVIO NORMAL</h1>
    <form action="/mens006" method="POST">

      <div class="form__fieldset">
        <label for="mens006_tipEnv" class="form__label">TIPO DE ENVIO:</label>
          <select id="mens006_tipEnv" name="mens006_tipEnv" class="form__input form__selectt">
            <option disabled selected value> -- Selecione uma opção -- </option>
            <option value="EIN">ENVIO INTERNACIONAL</option>
            <option value="ENM">ENVIO NACIONAL</option>
            <option value="MDE">MÚLTIPLOS DESTINATÁRIOS</option>
          </select>
      </div>

      <div class="form__fieldset">
        <label for="mens006_tipPrd" class="form__label">TIPO DE PRODUTO:</label>
          <select id="mens006_tipPrd" name="mens006_tipPrd" class="form__input form__select">
            <option disabled selected value> -- Selecione uma opção -- </option>
            <option value="DES">DESCARTÁVEL</option>
            <option value="GRA">FRÁGIL</option>
            <option value="INF">INFLAMÁVEL</option>
            <option value="NOR">NORMAL</option>
          </select>
      </div>
      <div class="form__fieldset">
        <label for="mens006_quant" class=" form__label">QUANTIDADE DE ITENS / COLETAR:</label>
        <input type="number" name="mens006_quant" id="mens006_quant" class="form__input"/>
      </div>
      <div class="form__fieldset">
        <label for="mens006_colMat" class=" form__label">PERÍODO DE COLETA DO MATERIAL / DATA HORA PARA ENVIO:</label>
        <input type="datetime-local" name="mens006_colMat" id="mens006_colMat" class="form__input"/>
      </div>

      <div class="form__fieldset">
        <label for="mens006_pesoKG" class=" form__label">PESO APROXIMADO KG:</label>
        <input type="number" name="mens006_pesoKG" id="mens006_pesoKG" class="form__input"/>
      </div>
      <div class="form__fieldset">
        <label for="mens006_qbr" class=" form__label">PERMITE QUEBRA DE ENVIO?:</label>
        <input type="option" name="mens006_qbr" id="mens006_qbr" class="form__input"/>
      </div>
      <div class="form__fieldset">
        <label for="mens006_empE" class=" form__label">EMPRESA PARA ENVIO:</label>
        <input type="text" name="mens006_empE" id="mens006_empE" class="form__input"/>
      </div>

      <h3>REMETENTE: </h3>

      <div class="form__fieldset">
        <label for="mens006_empR" class=" form__label">EMPRESA:</label>
        <input type="text" name="mens006_empR" id="mens006_empR" class="form__input"/>
      </div>
      <div class="form__fieldset">
        <label for="mens006_endR" class=" form__label">ENDEREÇO:</label>
        <input type="text" name="mens006_endR" id="mens006_endR" class="form__input"/>
      </div>
      <div class="form__fieldset">
        <label for="mens006_baiR" class=" form__label">BAIRRO:</label>
        <input type="text" name="mens006_baiR" id="mens006_baiR" class="form__input"/>
      </div>
      <div class="form__fieldset">
        <label for="mens006_cidR" class=" form__label">CIDADE:</label>
        <input type="text" name="mens006_cidR" id="mens006_cidR" class="form__input"/>
      </div>
      <div class="form__fieldset">
        <label for="mens006_estR" class=" form__label">ESTADO:</label>
        <input type="text" name="mens006_estR" id="mens006_estR" class="form__input"/>
      </div>
      <div class="form__fieldset">
        <label for="mens006_cepR" class=" form__label">CEP:</label>
        <input type="text" name="mens006_cepR" id="mens006_cepR" class="form__input"/>
      </div>

      <h3>DESTINATÁRIO: </h3>

      <div class="form__fieldset">
        <label for="mens006_nomD" class=" form__label">NOME:</label>
        <input type="text" name="mens006_nomD" id="mens006_nomD" class="form__input"/>
      </div>
      <div class="form__fieldset">
        <label for="mens006_cepD" class=" form__label">CEP:</label>
        <input type="text" name="mens006_cepD" id="mens006_cepD" class="form__input"/>
      </div>
      <div class="form__fieldset">
        <label for="mens006_endD" class=" form__label">ENDEREÇO:</label>
        <input type="text" name="mens006_endD" id="mens006_endD" class="form__input"/>
      </div>
      <div class="form__fieldset">
        <label for="mens006_baiD" class=" form__label">BAIRRO:</label>
        <input type="text" name="mens006_baiD" id="mens006_baiD" class="form__input"/>
      </div>
      <div class="form__fieldset">
        <label for="mens006_cidD" class=" form__label">CIDADE:</label>
        <input type="text" name="mens006_cidD" id="mens006_cidD" class="form__input"/>
      </div>
      <div class="form__fieldset">
        <label for="mens006_estD" class=" form__label">ESTADO:</label>
        <input type="text" name="mens006_estD" id="mens006_estD" class="form__input"/>
      </div>
      <div class="form__fieldset">
        <label for="mens006_telD" class=" form__label">TELEFONE:</label>
        <input type="text" name="mens006_telD" id="mens006_telD" class="form__input"/>
      </div>
      <div class="form__fieldset">
        <label for="mens006_numD" class=" form__label">NÚMERO / COMPLEMENTO:</label>
        <input type="text" name="mens006_numD" id="mens006_numD" class="form__input"/>
      </div>
      <div class="form__fieldset">
        <label for="mens006_valor" class=" form__label">VALOR APROXIMADO DO(S) ITEN(S) A ENVIAR:</label>
        <input type="number" name="mens006_valor" id="mens006_valor" class="form__input"/>
      </div>
      <div class="form__fieldset">
        <label for="mens006_codProj" class=" form__label">CÓDIGO DE PROJETO:</label>
        <input type="text" name="mens006_codProj" id="mens006_codProj" class="form__input"/>
      </div>

      <div class="form__fieldset">
        <input
          class="form__submit form__input"
          type="submit"
          value="Ok"
        />
      </div>
    </form>
  </body>
</html>