<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>L'oreal Mensageria (SERVIÇO DE CARTÓRIO)</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loginb.css') }}" />
  </head>
  <body>
    <h1>MENSAGERIA INTERNA - UNIDADE SEDE RJ</h1>
    <form action="/mens003" method="POST">

      <div class="form__fieldset">
        <label for="mens003_numD" class=" form__label">NÚMERO:</label>
        <input type="text" name="mens003_numD" id="mens003_numD" class="form__input"/>
      </div>
      <div class="form__fieldset">
        <label for="mens003_endD" class=" form__label">ENDEREÇO DESTINATÁRIO:</label>
        <input type="text" name="mens003_endD" id="mens003_endD" class="form__input"/>
      </div>
      <div class="form__fieldset">
        <label for="mens003_baiD" class=" form__label">BAIRRO DESTINATÁRIO:</label>
        <input type="text" name="mens003_baiD" id="mens003_baiD" class="form__input"/>
      </div>

      <div class="form__fieldset">
        <input
          class="form__submit form__input"
          type="submit"
          value="Ok"
        />
      </div>
    </form>
  </body>
</html>