<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>L'oreal Mensageria (SERVIÇO DE CARTÓRIO)</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loginb.css') }}" />
  </head>
  <body>
    <h1>MENSAGERIA MATERIAIS PARA PUBLICIDADE - ENVIO NORMAL</h1>
    <form action="/mens004" method="POST">

      <div class="form__fieldset">
        <label for="mens004_tipEnv" class="form__label">TIPO DE ENVIO:</label>
          <select id="mens004_tipEnv" name="mens004_tipEnv" class="form__input form__select">
            <option disabled selected value> -- Selecione uma opção -- </option>
            <option value="EIN">ENVIO INTERNACIONAL</option>
            <option value="ENM">ENVIO NACIONAL</option>
            <option value="MDE">MÚLTIPLOS DESTINATÁRIOS</option>
          </select>
      </div>

      <div class="form__fieldset">
        <label for="mens004_tipPrd" class="form__label">TIPO DE PRODUTO:</label>
          <select id="mens004_tipPrd" name="mens004_tipPrd" class="form__input form__select">
            <option disabled selected value> -- Selecione uma opção -- </option>
            <option value="DES">DESCARTÁVEL</option>
            <option value="GRA">FRÁGIL</option>
            <option value="INF">INFLAMÁVEL</option>
            <option value="NOR">NORMAL</option>
          </select>
      </div>

      <div class="form__fieldset">
        <label for="mens004_quant" class=" form__label">QUANTIDADE DE ITENS / COLETAR:</label>
        <input type="number" name="mens004_quant" id="mens004_quant" class="form__input"/>
      </div>
      <div class="form__fieldset">
        <label for="mens004_colMat" class=" form__label">PERÍODO DE COLETA DO MATERIAL / DATA HORA PARA ENVIO:</label>
        <input type="datetime-local" name="mens004_colMat" id="mens004_colMat" class="form__input"/>
      </div>

      <div class="form__fieldset">
        <label for="mens004_perEnt" class="form__label">PERÍODO DE ENTREGA (TURNO):</label>
          <select id="mens004_perEnt" name="mens004_perEnt" class="form__input form__select">
            <option disabled selected value> -- Selecione uma opção -- </option>
            <option value="M">Manhã</option>
            <option value="T">Tarde</option>
          </select>
      </div>

      <div class="form__fieldset">
        <label for="mens004_pesoKG" class=" form__label">PESO APROXIMADO KG:</label>
        <input type="number" name="mens004_pesoKG" id="mens004_pesoKG" class="form__input"/>
      </div>
      <div class="form__fieldset">
        <label for="mens004_qbr" class=" form__label">PERMITE QUEBRA DE ENVIO?:</label>
        <input type="option" name="mens004_qbr" id="mens004_qbr" class="form__input"/>
      </div>
      <div class="form__fieldset">
        <label for="mens004_empE" class=" form__label">EMPRESA PARA ENVIO:</label>
        <input type="text" name="mens004_empE" id="mens004_empE" class="form__input"/>
      </div>

      <h3>REMETENTE: </h3>

      <div class="form__fieldset">
        <label for="mens004_empR" class=" form__label">EMPRESA:</label>
        <input type="text" name="mens004_empR" id="mens004_empR" class="form__input"/>
      </div>
      <div class="form__fieldset">
        <label for="mens004_cepR" class=" form__label">CEP:</label>
        <input type="text" name="mens004_cepR" id="mens004_cepR" class="form__input"/>
      </div>

      <div class="form__fieldset">
        <label for="mens004_endR" class=" form__label">ENDEREÇO:</label>
        <input type="text" name="mens004_endR" id="mens004_endR" class="form__input"/>
      </div>
      <div class="form__fieldset">
        <label for="mens004_baiR" class=" form__label">BAIRRO:</label>
        <input type="text" name="mens004_baiR" id="mens004_baiR" class="form__input"/>
      </div>
      <div class="form__fieldset">
        <label for="mens004_cidR" class=" form__label">CIDADE:</label>
        <input type="text" name="mens004_cidR" id="mens004_cidR" class="form__input"/>
      </div>
      <div class="form__fieldset">
        <label for="mens004_estR" class=" form__label">ESTADO:</label>
        <input type="text" name="mens004_estR" id="mens004_estR" class="form__input"/>
      </div>

      <h3>DESTINATÁRIO: </h3>

      <div class="form__fieldset">
        <label for="mens004_nomD" class=" form__label">NOME:</label>
        <input type="text" name="mens004_nomD" id="mens004_nomD" class="form__input"/>
      </div>
      <div class="form__fieldset">
        <label for="mens004_cepD" class=" form__label">CEP:</label>
        <input type="text" name="mens004_cepD" id="mens004_cepD" class="form__input"/>
      </div>
      <div class="form__fieldset">
        <label for="mens004_endD" class=" form__label">ENDEREÇO:</label>
        <input type="text" name="mens004_endD" id="mens004_endD" class="form__input"/>
      </div>
      <div class="form__fieldset">
        <label for="mens004_baiD" class=" form__label">BAIRRO:</label>
        <input type="text" name="mens004_baiD" id="mens004_baiD" class="form__input"/>
      </div>
      <div class="form__fieldset">
        <label for="mens004_cidD" class=" form__label">CIDADE:</label>
        <input type="text" name="mens004_cidD" id="mens004_cidD" class="form__input"/>
      </div>
      <div class="form__fieldset">
        <label for="mens004_estD" class=" form__label">ESTADO:</label>
        <input type="text" name="mens004_estD" id="mens004_estD" class="form__input"/>
      </div>
      <div class="form__fieldset">
        <label for="mens004_telD" class=" form__label">TELEFONE:</label>
        <input type="text" name="mens004_telD" id="mens004_telD" class="form__input"/>
      </div>
      <div class="form__fieldset">
        <label for="mens004_numD" class=" form__label">NÚMERO / COMPLEMENTO:</label>
        <input type="text" name="mens004_numD" id="mens004_numD" class="form__input"/>
      </div>
      <div class="form__fieldset">
        <label for="mens004_valor" class=" form__label">VALOR APROXIMADO DO(S) ITEN(S) A ENVIAR:</label>
        <input type="number" name="mens004_valor" id="mens004_valor" class="form__input"/>
      </div>
      <div class="form__fieldset">
        <label for="mens004_codProj" class=" form__label">CÓDIGO DE PROJETO:</label>
        <input type="text" name="mens004_codProj" id="mens004_codProj" class="form__input"/>
      </div>


      <div class="form__fieldset">
        <input
          class="form__submit form__input"
          type="submit"
          value="Ok"
        />
      </div>
    </form>
  </body>
</html>